.catalog {
  margin: 0 auto;
}

.prendas {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

.prendas > img {
  width: 150px;
  height: 200px;
  margin-bottom: 12px;
}

.prendas > img:nth-child(odd){
  margin-left: 31px;
  margin-right: 17px;
}
.prendas > img:nth-child(even){
  margin-left: 17px;
  margin-right: 31px;
}

.prendas>img:not(:first-child):not(:nth-child(2)) {
  margin-top: 12px;
}

.description {
  background-color: blue;
  width: 340px;
  height: 500px;
  position: absolute;
  position: sticky;

  left: 28px;
  top: 180px;
}
