@import url("https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Merriweather:wght@300&family=Playfair+Display&display=swap");

/* font-family: 'Arvo', serif;
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif; */

.catalog {
  margin: 0 auto;
}

.prendas {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
}

.prendas > img {
  width: 46%;
  padding: 2%;
}
