/* Top part */
body {
  margin: 0 auto;
  width: 98%;
  text-align: center;
}

.logo {
  width: 170px;
  border-radius: 50%;
  border: solid black;
}

.logoArea {
  background-color: pink;
  padding: 3rem;
}

/* Catalog Part */

.prendas {
  display: flex;
  flex-wrap: wrap;
}

.prendas > img {
  width: 10rem;
  padding: 0.5rem;
}

/* Footer Part */

.footer {
  background-color: black;
}
